*.egg
*.egg-info
dist
build

.idea
.DS_Store
*.pyc
*.o
results_*
latest
quast_results_archive_json/*
results_json/*
show-snps.err
tc_tests/results/
test/
quast_test_output/

quast_libs/MUMmer/annotate
quast_libs/MUMmer/aux_bin/
quast_libs/MUMmer/combineMUMs
quast_libs/MUMmer/delta-filter
quast_libs/MUMmer/dnadiff
quast_libs/MUMmer/exact-tandems
quast_libs/MUMmer/gaps
quast_libs/MUMmer/mapview
quast_libs/MUMmer/mgaps
quast_libs/MUMmer/mummer
quast_libs/MUMmer/mummerplot
quast_libs/MUMmer/nucmer
quast_libs/MUMmer/nucmer2xfig
quast_libs/MUMmer/promer
quast_libs/MUMmer/repeat-match
quast_libs/MUMmer/run-mummer1
quast_libs/MUMmer/run-mummer3
quast_libs/MUMmer/show-aligns
quast_libs/MUMmer/show-coords
quast_libs/MUMmer/show-diff
quast_libs/MUMmer/show-snps
quast_libs/MUMmer/show-tiling
quast_libs/MUMmer/src/kurtz/libbasedir/libbase.a
quast_libs/MUMmer/src/kurtz/streesrc/libstree.a

make.log
make.err
make.failed
make.succeeded
error.log

quast_libs/glimmer/glimmerhmm

quast_libs/gage/*.class

quast_libs/Busco/augustus-3.0.3/src/LICENCE.TXT
quast_libs/Busco/hmmer-3.1b2-mac/
quast_libs/bwa/make.*

quast_libs/blast/
quast_libs/blast/16S_RNA_blastdb/

quast_libs/samtools/version.h
quast_libs/samtools/samtools
quast_libs/samtools/libbam.a
quast_libs/samtools/htslib-1.2.1/libhts.a
quast_libs/samtools/htslib-1.2.1/version.h
quast_libs/samtools/misc/ace2sam
quast_libs/samtools/misc/maq2sam-long
quast_libs/samtools/misc/maq2sam-short
quast_libs/samtools/misc/md5fa
quast_libs/samtools/misc/md5sum-lite
quast_libs/samtools/misc/wgsim

quast_libs/bwa/bwa
quast_libs/bwa/bwa.dSYM

quast_libs/bowtie2/

quast_libs/version.py

venv_*
