results_*
latest
quast_results_archive_json/*
results_json/*
quality.pyc
show-snps.err
libs/*.pyc
libs/html_saver/*.pyc
libs/.DS_Store
.idea/*
.idea
.DS_Store
*pyc
*.o

quast_website/.idea/*

run_test_data/results/*

libs/html_saver/reports-scripts-old

libs/test_parallel.py

libs/glimmer/src/*.o
libs/glimmer/glimmerhmm

tc_tests/results/
test/
test_output/
test_data/
quast_test_output/

make.log
make.err

libs/MUMmer3.23-linux/
libs/MUMmer3.23-osx/

libs/gage/*.class

libs/Busco/augustus-3.0.3/src/LICENCE.TXT
libs/Busco/hmmer-3.1b2-mac/
libs/bwa-master/make.*

libs/blast/16S_RNA_blastdb/

libs/samtools/version.h
libs/samtools/samtools
libs/samtools/libbam.a
libs/samtools/htslib-1.2.1/libhts.a
libs/samtools/htslib-1.2.1/version.h
libs/samtools/misc/ace2sam
libs/samtools/misc/maq2sam-long
libs/samtools/misc/maq2sam-short
libs/samtools/misc/md5fa
libs/samtools/misc/md5sum-lite
libs/samtools/misc/wgsim

libs/bowtie2/bowtie2-align-*
libs/bowtie2/bowtie2-build-*
libs/bowtie2/bowtie2-inspect-*

libs/manta/build
