results_*
latest
quast_results_archive_json/*
results_json/*
quality.pyc
show-snps.err
libs/MUMmer3.23-linux/*.o
libs/MUMmer3.23-osx/
libs/gage/*.class
libs/*.pyc
libs/html_saver/*.pyc
libs/.DS_Store
.idea/*
.DS_Store
*pyc

quast_website/.idea/*
quast-1.0.0.tar.gz

run_test_data/results/*

libs/html_saver/reports-scripts-old

libs/test_parallel.py

test_data/contigs.fasta
test_data/reference_10K.fasta
run_test_data/genemark_out/*

libs/glimmer/src/*.o
libs/glimmer/src/make.log
libs/glimmer/src/make.err
libs/glimmer/glimmerhmm

tc_tests/results/
test/