recursive-include libs *
recursive-include test_data *

include *.py
include *.html
include *.txt
include quast_ref.bib

exclude .gitignore
exclude quast_results
exclude quast_test_output
exclude quast.egg-info
exclude setup.cfg

global-exclude *.pyc
global-exclude make.*

recursive-exclude libs/blast *
recursive-exclude libs/manta/build *

# include this file, to ensure we can recreate source distributions
include MANIFEST.in
