recursive-include quast_libs *
recursive-include test_data *

include *.py
include *.html
include *.txt
include *.md
include install.sh
include install_full.sh
include Dockerfile

exclude .gitignore
exclude quast_results
exclude quast_test_output
exclude quast.egg-info
exclude setup.cfg

global-exclude *.pyc

recursive-exclude quast_libs/blast *
recursive-exclude quast_libs/manta/build *

# include this file, to ensure we can recreate source distributions
include MANIFEST.in
