{% extends "base.html" %}

{% block title %}About Quast{% endblock %}

{% block index-menu-li-class %}current{% endblock %}

{% block extra_head %}
    <style type="text/css">
        .code {
            background-color: lightgray;
        }
    </style>
{% endblock %}

{% block header %}Quast{% endblock %}

{% block content %}
    Quast is a quality assesment tool. <br>
    For installation details and usage instructions, please read <a href="manual.html">manual</a>.<br>
    The latest source code can be downloaded <a href="/static/quast-1.0.0.tar.gz">here</a>.<br>
    <p>
        We will be thankful if you help us make QUAST better by sending your comments, bug reports, and suggestions
        to <a href="mailto:quast.support@bioinf.spbau.ru">quast.support@bioinf.spbau.ru</a>.
    </p>
{% endblock %}