{% extends "base.html" %}

{% block title %}Latest report{% endblock %}

{% block latestreport-menu-li-class %}current{% endblock %}

{% block extra_head %}
    <script type="text/javascript">
        $(document).ready(function() {

            buildTotalReport();

            var contigs = JSON.parse($('#contigs-json').html());

            drawCommulativePlot(contigs.filenames, contigs.lists_of_lengths,
                    $('#commulative-plot-placeholder'), null);

            drawNxPlot(contigs.filenames, contigs.lists_of_lengths, 'Nx', null,
                    $('#nx-plot-placeholder'), null);
        });
    </script>

    <style>
        #header {
            margin-bottom: 20px;
        }
        #report * {
            font-size: 1em;
        }
        #report {
            float: left;
        }
        #report table {
            margin-left: -2px;
        }
        #report td {
            padding: 0;
            margin:  0;
        }
        #report td:first-child {
            width: 17em;
        }
        .json-code {
            display: none;
        }
        .plots {
            float: left;
            margin-left: 100px;
        }
        .plots > div {
            width: 500px;
            height: 400px;
        }
    </style>
{% endblock %}

{% block content %}
    <div id='header'>
        <h1 style='margin-bottom: 5px;'>Latest report</h1>
    </div>

    <div id='report'>
    </div>

    <div class='plots'>
        <p style='
            margin: 0 0 20px 83px;
            font-weight: bold;'>
            Commulative plot
        </p>
        <div id='commulative-plot-placeholder'>
        </div>
        <p style='
            margin: 50px 0 20px 83px;
            font-weight: bold;'>
            Nx plot
        </p>
        <div id='nx-plot-placeholder'>
        </div>
    </div>

    <div class='json-code'>
        <div id='report-json'>
            {{ report }}
        </div>
        <div id='contigs-json'>
            {{ contigs }}
        </div>
    </div>
{% endblock %}